@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,700&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Open Sans;
}

body {
  padding: 10px 0px;
  margin: auto;
  Font-size: 18px;
  width: 100%;
  height: auto;
  font-family: open Sans;
  font-weight: 400, 700;
}

h2 {
  font-family: poppins;
  font-weight: 600;
}

section {
  padding: 16px;
  background-color: white;
  text-align: left;
  cursor: pointer;
}

header {
  background-image: url('bg-hero-desktop.svg');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  margin-left: 3rem;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
  background-color: hsl(193, 100%, 96%);
}

.trybtn {
  background-color: white;
  color: black;
  border-width: 5px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid white;
  text-align: left;
}

.startbtn {
  padding: 5px 20px;
  border-width: 5px;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  border: 1px solid hsl(322, 100%, 66%);
  margin-top: 10px;
}
button {
  transition: width 2s, height 3s;
}

button:hover {
  width: 300px;
  height: 100px;
}
.up {
  width: 100%;
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  padding: 16px;
}
.top {
  align-content: center;
  width: 80%;
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  padding: 16px;
  border: 1px solid white;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 5px 5px 5px 5px hsl(207, 44%, 95%);
 
}

.left {
  padding: 20px 20px;
  width: 50%;
  flex: 50%;
}

.right {
  padding: 20px 20px;
  flex: 50%;
  width: 50%;
  justify-items: right;
}

.rude {
  background-color: hsl(192, 100%, 9%);
  border-radius: none;
  width: 100%;
  display: flex;
  flex: 25%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

.ready {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 8rem;
  border: 1px solid #fff;
  padding: 20px;
  align-content: center;
  border: 1px solid white;
}

footer {
  padding: 20px;
  background-color: hsl(192, 100%, 9%);
  text-align: right;
}
ul{
  list-style: none;
}
.nav {
  padding: 20px;
  width: 25%;
  float: left;
  flex: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  margin-top: 180px;

} 
.navv {
  padding: 20px;
  width: 25%;
  float: left;
  flex: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
} 
.media{
  float: right;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  height: 35px;
  margin-right: 5px;
}
.design {
  padding: 16px 30px;
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 1440px) {

  .top,
  rude {
    background-color: red;
  }
}

@media screen and (max-width: 700px) {

  .top,
  rude {
    flex-direction: column;
    background-color: purple;
  }
}

@media screen and (max-width: 375px) {

  .top,
  rude {
    flex-direction: column;
    background-color: green;
  }
  .up{
    display: block;
    text-align: center;
  }
}