@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,700&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Open Sans;
}

body {
  Font-size: 18px;
  width: 100%;
  font-size: 18px;
  font-family: open Sans;
  font-weight: 400, 700;
}

h2 {
  font-family: poppins;
  font-weight: 600;
  font-size: 24px;
}

section {
  padding: 16px;
  background-color: white;
  text-align: left;
  cursor: pointer;
}

header {
  background-image: url('bg-hero-desktop.svg');
  background-color: hsl(193, 100%, 96%);
  background-size: cover;
  background-position: center;
  align-items: center;
  margin-bottom: 100px;
}

.trybtn {
  background-color: white;
  color: black;
  border-width: 5px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid white;
  text-align: right;
}

.upper,
.trybtn {
  display: flex;
  flex: 50% 50%;
  justify-content: space-between;
  margin-top: 30px;
  padding: 16px 30px 16px 30px;
}

.upper img {
  margin-top: 30px;
}

.up {
  width: 100%;
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  padding: 16px;
}

.top {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  width: 80%;
  border: 1px solid white;
  padding: 10px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  align-content: center;
  box-shadow: 5px 5px 5px 5px hsl(207, 44%, 95%);

}

.left {
  padding: 20px 20px;
  width: 50%;
  flex: 50%;
}

.right {
  padding: 20px 20px;
  flex: 50%;
  width: 50%;
  justify-items: right;
}

.startbtn {
  padding: 5px 30px;
  border-width: 5px;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  border: 1px solid hsl(322, 100%, 66%);
  margin-top: 10px;
}

button {
  transition: width 2s, height 3s;
}

button:hover {
  width: 300px;
  height: 100px;
}

.ready {
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 4rem;
  border: 1px solid #fff;
  padding: 20px;
  align-content: center;
  border: 1px solid white;
}

footer {
  padding: 10px 70px;
  background-color: hsl(192, 100%, 9%);
  text-align: right;
}

ul {
  list-style: none;
}

.rude {
  display: flex;
  flex-wrap: wrap;
  border-radius: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(192, 100%, 9%);
}

.navv {
  width: 25%;
  flex: 25%;
  color: white;
  text-align: left;
  margin-top: 30px;
}

.nav {
  width: 25%;
  flex: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  margin-top: 150px;
}

.media {
  float: right;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  height: 35px;
  margin-right: 5px;
}

.design {
  padding: 20px 20px;
  text-align: center;
  padding: 16px 30px;
  text-decoration: none;
  color: white;
  flex-direction: column;
}

@media screen and (max-width: 375px) {
  header {
    padding: 0px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 14px;
  }
  .up,
  .top,
  .rude {
    display: block;
    text-align: center;
    width: 100%;
  }
  .top {
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;
  }
  .up {
    width: 100%;
    padding: 4px;
    text-align: center;
  }

  .left {
    padding: 0px 10px;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 0px;
  }
  section {
    padding: 0px;
  text-align: left;
  }
  .ready {
    width: 90%;  
  }  
  .right {
    padding: 0px 10px;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
  align-items: center;
  }
  .nav {
    padding: 2px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
  .navv {
    padding: 4px;
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }
  .rude {
    margin-top: 30px;
  }
  img{
    text-align: center;
    width: 300;
  }
  .media{
    text-align: right;
    width: 300;
  }
}