@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,700&family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", Open Sans;
}

body {
  Font-size: 18px;
  font-size: 18px;
  font-family: open Sans;
  font-weight: 400, 700;
}

h2 {
  font-family: poppins;
  font-weight: 600;
  font-size: 24px;
}

header {
  background-image: url('bg-hero-desktop.svg');
  background-color: hsl(193, 100%, 96%);
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
}

.upper {
  display: flex;
  margin-top: 30px;
  padding: 16px;
}

.trybtn {
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 30px;
  border: 1px solid white;
  flex: 50%;
  margin-top: 30px;
}

.head-img {
  padding: 20px 20px;
  width: 20%;
  flex: 50%;
  width: 8%;
  margin-top: 30px;
}

.centerr {
  width: 100%;
  height: 100%;
}

.up {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  padding: 16px;
}

.top {
  width: 80%;
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  padding: 10px 80px 10px 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid white;
  box-shadow: 5px 5px 5px 5px hsl(207, 44%, 95%);
}

.center {
  width: 100%;
  height: 100%;
}

.left {
  padding: 20px 20px;
  width: 50%;
  flex: 50%;
}

.right {
  padding: 20px 20px;
  flex: 50%;
  width: 50%;
  justify-items: right;
}

.startbtn {
  padding: 5px 30px;
  border-width: 5px;
  color: white;
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  border: 1px solid hsl(322, 100%, 66%);
  margin-top: 10px;
}

button {
  transition: width 2s, height 3s;
}

button:hover {
  width: 300px;
  height: 100px;
}

.ready {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  position: relative;
  top: 4rem;
  border: 1px solid #fff;
  padding: 20px;
  background-color: white;
  border: 1px solid white;
}

footer {
  padding: 10px 70px;
  background-color: hsl(192, 100%, 9%);
  text-align: right;
}

ul {
  list-style: none;
}

.rude {
  display: flex;
  flex-wrap: wrap;
  border-radius: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: hsl(192, 100%, 9%);
}

.cent {
  width: 4%;
  margin-top: 20px;
  padding: 2px;
}

.centa {
  width: 30%;
  margin-top: 20px;
  padding: 2px;
}

.design {
  padding: 16px 30px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  text-align: left;
  flex-direction: column;
}

.navv {
  width: 25%;
  flex: 25%;
  color: white;
  text-align: left;
  margin-top: 100px;
  padding: 0px 10px 0px 0px;
}

.nav {
  width: 25%;
  flex: 25%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  text-align: left;
  margin-top: 150px;
}

.navvv {
  width: 25%;
  flex: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  text-align: left;
  margin-top: 150px;
}

.media {
  float: right;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 50%;
  text-align: center;
  height: 35px;
  margin-right: 5px;
}

@media screen and (max-width: 375px) {
  .up {
    display: block;
    width: 100%;
    padding: 0px;
  }

  header {
    margin-bottom: 3px;
  }

  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }

  .top {
    display: block;
    width: 100%;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;
  }

  .left {
    width: auto;
    padding: 20px 20px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 2px;
  }
  .right {
    width: auto;
    padding: 20px 20px;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-top: 2px;
  }
  .ready {
    width: 90%;
  }
  .rude {
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin-top: 30px;
    text-align: left;
    margin-top: 50px;
  }
  .navv {
    width: auto;
    padding: 20px 4px;
    justify-items: center;
    text-align: left;
    margin-top: 2px;
  }
  .nav {
    width: auto;
    padding: 20px 4px;
    text-align: left;
    margin-top: 2px;
  }
  .navvv {
    padding: 1px 4px;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    color: white;
    text-align: right;
    margin-top: 2px;
  }
  .media{
    text-align: center;
  }
  .design{
    text-align: left;
    padding: 2px 2px;
   
  }
  footer {
    padding: 2px 30px;
    text-align: right;
  }
  
}